---
layout: default
title: "Papers"
description: "Publications from members of the lab"
group: navigation
navorder: 4
---
{% include JB/setup %}

<div class="bigspacer"></div>
<div class="bigtitle text-center">Publications</div>
<div class="smallspacer"></div>
<hr/>

{% assign max_authors = 8 %}

<!-- <div class="container-fluid"> -->

  <!-- First we do the preprints and papers in press -->
  {% assign preprints = "" | split: "" %}
  {% assign in_press = "" | split: "" %}
  {% assign other = "" | split: "" %}
  {% for product in site.categories.papers %}
    {% capture nowunix %}{{ 'now' | date: '%s' }}{% endcapture %}
    {% capture posttime %}{{ product.date | date: '%s' }}{% endcapture %}
    {% if product.is_published == false %}
      {% if product.tags contains "preprint" %}
        {% assign preprints = preprints | push: product %}
      {% else %}
        {% assign in_press = in_press | push: product %}
      {% endif %}
    {% elsif posttime > nowunix %}
      {% assign in_press = in_press | push: product %}
    {% else %}
      {% assign other = other | push: product %}
    {% endif %}
  {% endfor %}

  {% assign n_preprints = preprints | size %}
  {% if n_preprints > 0 %}
    <div class="title text-center">Preprints</div>
    <div class="bigspacer"></div>
  {% endif %}


  <div class="row">
    {% for product in preprints %}
      {% if product.image %}
        {% assign image = product.image %}
      {% else %}
        {% assign image = "/assets/images/placeholder.png" %}
      {% endif %}

      <div class="col-md-6">
        <div class="media paper-card">
          <a class="pull-left" href="{{ product.url }}">
            <img width=100 class="media-object paper-icon" src="{{ image }}">
          </a>
          <div class="media-body">
            <div class="smallhead media-heading">
              {% if product.tags contains "chapter" %}
                <a href="{{ product.url }}" class="off">[CHAPTER] {{ product.title }}</a>
              {% elsif product.tags contains "correspondence" %}
                <a href="{{ product.url }}" class="off">[CORRESPONDENCE] {{ product.title }}</a>
              {% else %}
                <a href="{{ product.url }}" class="off">{{ product.title }}</a>
              {% endif %}
            </div>
            <p>
              <div class="note">
                <!-- This took a while, but it links the name of each author from the lab
                to their page and keeps collaborators' names as strings -->
                {% assign authors_list = product.authors | split: ", " %}
                {% include JB/authors_list %}
                <span class="journal">
                  {{ product.journal }}
                </span>
                {% if product.volume %}
                  {{ product.volume }}
                {% endif %}
                {% if product.issue %}
                  ({{ product.issue }})
                {% endif %}
                {% if product.pages %}
                  :{{ product.pages }}
                {% endif %}
                ({{ product.year }}).
              </div>
            </p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  {% if n_preprints > 0 %}
    <hr/>
  {% endif %}

  {% assign n_in_press = in_press | size %}
  {% if n_in_press > 0 %}
    <div class="title text-center">In Press</div>
    <div class="bigspacer"></div>
  {% endif %}

  <div class="row">
    {% for product in in_press %}
      {% if product.image %}
        {% assign image = product.image %}
      {% else %}
        {% assign image = "/assets/images/placeholder.png" %}
      {% endif %}
      <div class="col-md-6">
        <div class="media paper-card">
          <a class="pull-left" href="{{ product.url }}">
            <img width=100 class="media-object paper-icon" src="{{ image }}">
          </a>
          <div class="media-body">
            <div class="smallhead media-heading">
              {% if product.tags contains "chapter" %}
                <a href="{{ product.url }}" class="off">[CHAPTER] {{ product.title }}</a>
              {% elsif product.tags contains "correspondence" %}
                <a href="{{ product.url }}" class="off">[CORRESPONDENCE] {{ product.title }}</a>
              {% else %}
                <a href="{{ product.url }}" class="off">{{ product.title }}</a>
              {% endif %}
            </div>
            <p>
              <div class="note">
                <!-- This took a while, but it links the name of each author from the lab
                to their page and keeps collaborators' names as strings -->
                {% assign authors_list = product.authors | split: ", " %}
                {% include JB/authors_list %}
                <span class="journal">
                  {{ product.journal }}
                </span>
                {% if product.volume %}
                  {{ product.volume }}
                {% endif %}
                {% if product.issue %}
                  ({{ product.issue }})
                {% endif %}
                {% if product.pages %}
                  :{{ product.pages }}
                {% endif %}
                ({{ product.year }}).
              </div>
            </p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  {% if n_in_press > 0 %}
    <hr/>
  {% endif %}

  {% assign years = "" | split: "" %}
  {% for product in other %}
    {% assign years = years | push: product.year %}
  {% endfor %}
  {% assign years = years | uniq %}

  {% for year in years %}
    <div class="title text-center">{{ year }}</div>
    <div class="bigspacer"></div>
    {% assign year_products = "" | split: "" %}
    {% for product in other %}
      {% if product.year == year %}
        {% assign year_products = year_products | push: product %}
      {% endif %}
    {% endfor %}
    <div class="row">
      {% for product in year_products %}
        {% if product.image %}
          {% assign image = product.image %}
        {% else %}
          {% assign image = "/assets/images/placeholder.png" %}
        {% endif %}
        <div class="col-md-6">
          <div class="media paper-card">
              <a class="pull-left" href="{{ product.url }}">
                <img width=100 class="media-object paper-icon" src="{{ image }}">
              </a>
              <div class="media-body">
                <div class="smallhead media-heading">
                  {% if product.tags contains "chapter" %}
                    <a href="{{ product.url }}" class="off">[CHAPTER] {{ product.title }}</a>
                  {% elsif product.tags contains "correspondence" %}
                    <a href="{{ product.url }}" class="off">[CORRESPONDENCE] {{ product.title }}</a>
                  {% else %}
                    <a href="{{ product.url }}" class="off">{{ product.title }}</a>
                  {% endif %}
                </div>
                <p>
                  <div class="note">
                    <!-- This took a while, but it links the name of each author from the lab
                    to their page and keeps collaborators' names as strings -->
                    {% assign authors_list = product.authors | split: ", " %}
                    {% include JB/authors_list %}
                    <span class="journal">
                      {{ product.journal }}
                    </span>
                    {% if product.volume %}
                      {{ product.volume }}
                    {% endif %}
                    {% if product.issue %}
                      ({{ product.issue }})
                    {% endif %}
                    {% if product.pages %}
                      :{{ product.pages }}
                    {% endif %}
                    ({{ product.year }}).
                  </div>
                </p>
              </div>
          </div>
        </div>
      {% endfor %}
    </div>

    <div class="bigspacer"></div>
  {% endfor %}

<!-- </div> -->