---
layout: default
title: "Tools"
description: "Software projects in the lab"
group: navigation
navorder: 3
---
{% include JB/setup %}

{% assign software = "" | split: "" %}
{% assign temp = site.categories.tools | reverse %}
{% for item in temp %}
    {% if item.type == "software" %}
        {% assign software = software | push: item %}
    {% endif %}
{% endfor %}

<div class="bigspacer"></div>
<div class="title text-center">Software</div>
<div class="smallspacer"></div>
<hr />

<div class="container-fluid">
    <div class="row">
        <!-- <div class="col-md-6"> -->
            {% for product in software %}
                {% if product.image %}
                    {% assign image = product.image %}
                {% else %}
                    {% assign image = "/assets/images/placeholder.png" %}
                {% endif %}
                <div class="col-md-6">
                    <div class="media tool-card">
                        <a class="pull-left" href="{{ product.url }}">
                            <img width=100 class="media-object tool-icon" src="{{ image }}">
                        </a>
                        <div class="media-body">
                            <div class="smallhead media-heading">
                                {% if product.type contains "pilot" %}
                                    <a href="{{ product.url }}" class="off">[PILOT] {{ product.title }}</a>
                                {% else %}
                                    <a href="{{ product.url }}" class="off">{{ product.title }}</a>
                                {% endif %}
                            </div>
                            <div class="media-body">
                                {{ product.tagline }}
                            </div>
                        </div>
                    </div>
                    <div class="smallspacer"></div>
                </div>
            {% endfor %}
        <!-- </div> -->
    </div>
</div>
